[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ext/abseil-cpp"]
	path = ext/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
